{% extends "baselists.html" %}

{% block table-navigation %}
            <li class="nav-item">
    <a href="{% url "job-create" %}" class="btn btn-success">
        <span class="lnr lnr-file-add"></span>
        <span>Создать новую работу</span>
    </a>
            </li>
{% endblock %}
{% block main-table %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Работа</th>
      <th scope="col">Описание</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for job in page_obj %}
    <tr>
      <td>
        <a href="{% url "job-item" pk=job.pk %}">{{ job.name }}</a>
      </td>
      <td>{{ job.description }}</td>
      <td>
         <a href="{% url "job-item" pk=job.pk %}" class="btn btn-primary">
                        <span class="lnr lnr-pencil" />
                        <span>Изменить</span>
                    </a>
                    <a href="{% url "job-delete" pk=job.pk %}" class="btn btn-danger">
                        <span class="lnr lnr-trash" />
                        <span>Удалить</span>
                    </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {% include "pagination.html" %}
{% endblock %}
