{% extends "baselists.html" %}

{% block table-navigation %}
            <li class="nav-item">
    <a href="{% url "members-create" %}" class="btn btn-success">
        <span class="lnr lnr-file-add"></span>
        <span>Создать нового участника проекта </span>
    </a>
            </li>
{% endblock %}
{% block main-table %}

  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Проект</th>
          <th scope="col">Работник</th>
          <th scope="col">Сумма</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
  <tbody>
    {% for member in page_obj %}
    <tr>
      <td>
        <a href="{% url "project-item" pk=member.project_id %}">{{ member.project.name }}</a>
      </td>
      <td>
        <a href="{% url "worker-item" pk=member.worker_id %}">{{ member.worker.name }}</a>
      </td>
      <td>{{ member.sum }}</td>
      <td>
      <a href="{% url "members-item" pk=member.pk %}" class="btn btn-primary">
          <span class="lnr lnr-pencil" />
          <span>Изменить</span>
        </a>
         <a href="{% url "members-delete" pk=member.pk %}" class="btn btn-danger">
          <span class="lnr lnr-trash" />
          <span>Удалить</span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    {% include "pagination.html" %}
  {% endblock %}
