<div class="navbar navbar-dark d-block bg-dark text-white position-fixed h-100 align-self-start w-sidebar shadow-sm p-0 pt-2 pb-4 text-uppercase"
     id="sidebar">
    <button data-toggle="collapse" data-target=".sidebar-collapse"
            class="navbar-brand my-1 mr-3 float-right p-0 d-inline-block d-lg-none btn btn-link">
        <span class="h4 align-middle mb-0"><span class="lnr lnr-menu"></span></span>
    </button>
        <ul class="nav flex-column flex-wrap pt-5 mt-3">
            {% for url in urls %}
                <li class="nav-item {% if active_menu == url.name %} active {% endif %}">
                    <a class="nav-link" href="{{ url.url }}">{{ url.caption }} </a>
                    {% if url.disabled %}
                        <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
</div>