{% extends "base.html"%}

{% block content %}
{% block filter %}
        {% include 'filter_form.html' with filter_form=filter.form %}
    {%  endblock %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Проект</th>
      <th scope="col">Заказчик</th>
      <th scope="col">Площадь</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Описание</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for project in page_obj %}
    <tr>
      <td>
        <a href="{% url "project-item" pk=project.pk %}">{{ project.name }}</a>
      </td>
      <td>{{ project.customer }}</td>
      <td>{{ project.area }}</td>
      <td>{{ project.cost }}</td>
      <td>{{ project.description}}</td>
      <td>
         <a href="{% url "project-delete" pk=project.pk %}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}
<a href="{% url "project-create" %}" class="btn btn-primary">Создать новый проект</a>
{% endblock %}
